<%
  if defined?(button_text)
    text = button_text
  else
    text = t('buttons.new')
  end
%>

<%= link_to link, class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= text %>
<% end %>
